<style>
		* { margin: 0;
			font-family: "맑은 고딕", "Malgun Gothic", sans-serif;
			 }
		body{
			width: 1100px;
			margin: 0px auto;
			background-image: url(../mediasource/c.jpg);
			background-size: cover;
			color : white;
		}
		a { text-decoration: none; }
		li { list-style: none; }
		.navi a { color : white; }
		#page{
			background-color : 	#228B22;
			margin: 40px 0px ;
			padding: 50px;
			border-radius: 50px ;
		}
	
		.navi {
			margin : 15px 0px;
			border-top : 1px solid #47ece5;
			border-bottom: 1px solid #47ece5;
			height: 60px;
		} 
		.navi {
			margin : 15px 0px;
			border-top : 1px solid #47ece5;
			border-bottom: 1px solid #47ece5;
			height: 60px;
		} 
		.navi>ul>li{
			display: inline-block;
			padding: 5px 50px;
			line-height: 50px;
		}
		.navi>ul>li:hover{
			background: #47ece5;
		}
		.main{
			float: left;
			max-width: 700px;
		}
		.right{
			float: right;
			max-width: 230px;
		}
		footer{
			margin: 40px 0px;
			padding: 20px;
			clear: both;
		}
</style>